header{
    background-image: url(../../public/img/cabecera.png);
    background-size: cover;
    height: 100px;
    color: rgb(233, 240, 168);
    text-align: center;
    position: fixed;
    z-index: 100;
    margin-top: 0px;
    top: 0;
    width: 100%;
  }