.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url(../public/img/index1920.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.principal{
  margin-bottom: 80px;
}
/*--------------------------------Diseño Footer, Navegacion y Header-----------------*/

header{
  background-image: url(../public/img/cabecera.png);
  background-size: cover;
  height: 100px;
  color: rgb(233, 240, 168);
  text-align: center;
  position: fixed;
  z-index: 100;
  margin-top: 0px;
  top: 0;
  width: 100%;
}
nav{
  background-color: greenyellow;
  position: fixed;
  top: 95px;
  width: 100%;
}
nav ul{
  list-style: none;
  overflow: hidden;
}
nav ul li{
  float: left;
  flex-grow: 1;
}
nav ul li a{
  color: blue;
  text-decoration: none;
  display: block;
  padding-top: 8px;
  text-align: center;
}
nav ul li a:hover{
  color: lightblue;
}
nav{
  background-color: greenyellow;
  margin-bottom: 0;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0px 20px 0px;
  display: flex;
}
nav ul li{
  flex-grow: 1;
}
nav ul li a{
  color: blue;
  text-decoration: none;
  text-align: center;
  display: block;
}
nav ul li a:hover{
  color: lightblue;
}
nav ul li a.active{
  background-color: rgb(146, 228, 146);
}
footer{
  background-color: greenyellow;
  color: blue;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}