header{
    background-image: url(../img/cabecera.png);
    background-size: cover;
    height: auto;
    color: rgb(233, 240, 168);
    text-align: center;
    position: fixed;
    z-index: 100;
    margin-top: 0px;
    top: 0;
    width: 100%;
}
nav{
    background-color: greenyellow;
    position: fixed;
    top: 100px;
    width: 100%;
}
nav ul{
    list-style: none;
    overflow: hidden;
}
nav ul li{
    float: left;
    flex-grow: 1;
}
nav ul li a{
    color: blue;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    text-align: center;
}
nav ul li a:hover{
    color: lightblue;
}
nav{
    background-color: greenyellow;
    margin-bottom: 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0px 20px 0px;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: blue;
    text-decoration: none;
    text-align: center;
    display: block;
}
nav ul li a:hover{
    color: lightblue;
}
nav ul li a.active{
    background-color: rgb(146, 228, 146);
}
footer{
    background-color: greenyellow;
    color: blue;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}